.app-container {
  max-width: 96%;
  height: 50em;
  margin: 0 auto;
  padding: 2rem;
}

.app-title {
  text-align: center;
}

.log-error {
  color: red;
  font-weight: bold;
}
.log-warn {
  color: orange;
}
.log-info {
  color: blue;
}
.log-debug {
  color: green;
}
.log-trace {
  color: gray;
  font-style: italic;
}

.refresh-button-div {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 5px;
}

.refresh-button {
  background-color: rgba(255, 255, 255, 0.07);
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.refresh-button:hover {
  background-color: #023981;
}

.refresh-button:active {
  background-color: #023981;
}
