@import "ag-grid-community/styles/ag-theme-alpine.css";
@import "ag-grid-community/styles/ag-grid.css";

body {
  background: #0d1119;
  color: #6b6b77;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
